<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>About Us - Fulani Culture Website</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <!-- Header and Navigation same as index.html -->
    <header>
      <nav id="navbar">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('fulani_history') }}">Fulani History</a></li>
          <li><a href="{{ url_for('shop') }}">Shop</a></li>
          <li><a href="{{ url_for('blog') }}">Blog</a></li>
          <li><a href="{{ url_for('contact_us') }}">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main class="container">
      <h1>Connect With Us</h1>

      <h3>We're Here to Listen</h3>
      <p>
        At Pulaar Translator, we believe in the power of communication and
        community. Whether you have questions about the Fulani language, need
        assistance with our translation services, or simply want to share your
        insights and stories, we're here to listen.
      </p>

      <h3>Reach Out Anytime</h3>

      <p>
        Your thoughts and feedback are invaluable to us. They help us improve,
        grow, and better serve our community. Whether it's a suggestion, a
        cultural exchange, or a business inquiry, don't hesitate to reach out.
        We're committed to responding promptly and thoughtfully.
      </p>

      <h3>Join Our Cultural Journey</h3>

      <p>
        Contact us to learn more, engage with our mission, or become a part of
        our ever-growing cultural mosaic. Your voice matters in this journey of
        preserving and celebrating the rich heritage of the Fulani people.
      </p>

      <h3>Let's Connect and Cultivate Understanding</h3>

      <p>
        Fill out the form below or reach us through our email or social media
        channels. We're excited to hear from you and look forward to each
        conversation that helps bridge cultures and build understanding.
      </p>

      <form id="contactForm">
        <label for="name">Name:</label><br />
        <input type="text" id="name" name="name" required /><br />

        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" required /><br />

        <label for="message">Message:</label><br />
        <textarea id="message" name="message" required></textarea><br />

        <input type="submit" value="Submit" class="btn btn-primary" />
      </form>

      <div id="formOutput" class="form-output"></div>
    </main>

    <!-- Footer same as index.html -->
    <footer>
      <p>&copy; 2023 Fulani Culture Website</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
