<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shop - Fulani Culture Website</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <!-- Header and Navigation same as index.html -->
    <header>
      <nav id="navbar">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('fulani_history') }}">Fulani History</a></li>
          <li><a href="{{ url_for('shop') }}">Shop</a></li>
          <li><a href="{{ url_for('blog') }}">Blog</a></li>
          <li><a href="{{ url_for('contact_us') }}">About Us</a></li>
        </ul>
      </nav>
    </header>
    <!-- Main -->
    <main>
      <h1>Shop</h1>
      <div class="products-row">
        <!-- Product 1 Card -->
        <div class="product-card">
          <img
            src="{{ url_for('static', filename='images/fulani_boy.jpg') }}"
            alt="Fulani Boy"
            class="product-image"
          />
          <h3 class="product-title">The Adventures of the Mighty Fulani Boy</h3>
          <p class="product-description">
            Fierce and Fearless: The Story of a Brave Fulani Boy" is a
            children's book that tells the tale of a young and courageous Fulani
            boy who rises to the challenge and becomes a hero in his own right.
          </p>
          <button
            class="btn buy-button"
            data-url="https://www.amazon.co.uk/Adventures-Mighty-Fulani-Boy-Fearless/dp/B0BVCWQRDQ"
          >
            Buy Now
          </button>
        </div>
        <!-- Repeat the above block for each product (total of six times) -->
        <div class="product-card">
          <img
            src="{{ url_for('static', filename='images/tilly.jpg') }}"
            alt="Fulani Boy"
            class="product-image"
          />
          <h3 class="product-title">
            Tilly's Tech Tales: Exploring the Future with Fun and Adventure
          </h3>
          <p class="product-description">
            Tilly is a tech-savvy girl who loves nothing more than to play with
            her high-tech gadgets. Join Tilly on her first adventure as she uses
            her technology to make learning fun, solve mysteries, and embark on
            a tech-powered mission to space.
          </p>
          <button
            class="btn buy-button"
            data-url="https://www.amazon.co.uk/Tillys-Tech-Tales-Exploring-Adventure/dp/B0BW326JMJ/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1701610441&sr=1-3"
          >
            Buy Now
          </button>
        </div>
        <div class="product-card">
          <img
            src="{{ url_for('static', filename='images/dreamer.jpg') }}"
            alt="Fulani Boy"
            class="product-image"
          />
          <h3 class="product-title">
            TThe Digital Dreamer: An African Teen's Journey to Empower his
            Village with Technology
          </h3>
          <p class="product-description">
            The Digital Dreamer: An African Teen's Journey to Empower his
            Village with Technology" is a story about a young African man named
            Elijah who becomes interested in technology and entrepreneurship.
          </p>
          <button
            class="btn buy-button"
            data-url="https://www.amazon.co.uk/Digital-Dreamer-African-Journey-Technology/dp/B0BW2ZSLJ6/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1701610331&sr=1-2"
          >
            Buy Now
          </button>
        </div>
      </div>
    </main>
    <!-- End of  Main -->

    <!-- Footer same as index.html -->
    <footer>
      <p>&copy; 2023 Fulani Culture Website</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
